<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BEM-VINDO</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

  <link rel="stylesheet" href="/css/capa.css" />
</head>

  <script>
      (async () => {
        try {
          const res = await fetch('/api/me', { credentials: 'include' });
          if (!res.ok) return;

          const data = await res.json();
          const role = data.user.role;

          const allowedRoles = ['admin', 'NDR', 'AGRO'];
          const menuItem = document.getElementById('menuCadastroRepresentante');

          if (!allowedRoles.includes(role)) {
            menuItem.style.display = 'none';
          }
        } catch (err) {
          console.error('Erro ao validar permissões', err);
        }
      })();
  </script>
<body>
  <header class="hero">
    <h2>CRM NEXO</h2>
    <h4>Selecione uma das opções abaixo para navegar</h4>

    <!-- MENU -->
    <nav class="menu">
      <ul class="menu-root">
        <!-- CLIENTE -->
        <li class="has-sub">
          <a href="#">Cliente</a>
          <ul class="submenu">
            <li><a href="/cadastroClientes">Cadastro de Cliente</a></li>
            <li><a href="/consultaCliente">Consulta Cliente</a></li>
            <li id="menuCadastroRepresentante" ><a href="/cadastroRepresentante">Cadastro de Representante </a></li>
          </ul>
        </li>

        <!-- VENDAS -->
        <li class="has-sub">
          <a href="#">Vendas</a>
          <ul class="submenu">
            <li><a href="/listaPreco">Lista de Preço Geral</a></li>
            <li><a href="/listaPreco">Tabela de Preço Cliente</a></li>
            <li><a href="/cotacao">Solicitação de Cotação</a></li>
            <li><a href="/cotacao">Cotação Cliente</a></li>
            <li><a href="/pedido">Pedido de Venda</a></li>
          </ul>
        </li>

        <!-- ESTOQUE -->
        <li class="has-sub">
          <a href="#">Estoque</a>
          <ul class="submenu">
            <li><a href="/consultaProduto">Consulta de Produto</a></li>
            <li><a href="/estoqueItem">Estoque do Item</a></li>
          </ul>
        </li>

        <!-- ESTOQUE -->
        <li class="has-sub">
          <a href="#">Qualidade</a>
          <ul class="submenu">
            <li><a href="/requesicaoAmostra">Solicitar amostras</a></li>
            <li><a href="/rnc">Não conformidade</a></li>
          </ul>
        </li>

        <!-- RELATÓRIOS -->
        <li><a href="/relatorio">Relatórios</a></li>

        <!-- FORECAST -->
        <li><a href="/">Forecast</a></li>
        <!-- FORECAST -->
        <li><a target="_blank" href="https://alex-777-90.github.io/simulador-frete/">Simulador de Frete</a></li>
      </ul>
      <button id="logoutButton1">Sair</button>
    </nav>
    
  </header>
    <!-- Script de logout -->
  <script>
    async function logoutUser() {
      try {
        const res = await fetch('/api/logout', { method: 'POST', credentials: 'include' });
        if (res.ok) window.location.href = '/login2';
        else alert('Erro ao sair. Tente novamente.');
      } catch (err) {
        console.error('Erro no logout:', err);
        alert('Erro de conexão ao sair.');
      }
    }
    document.getElementById('logoutButton1').addEventListener('click', logoutUser);
  </script>
</body>
</html>
