<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXO Dashboards</title>
    <link rel="stylesheet" href="/css/dashboard.css">
   
</head>
<body>
    <div class="container">

        <a href="/capa">
           <img class="img_link" src="/images/logo-nexo-sem-fundo.png" alt="Imagem Nexo" title="Voltar para Home">
        </a>
        <h2>Links para os relatórios</h2>
        <ul>
            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiOThiYzI3MDUtZWExYi00NmIzLTg1ZGQtYzhlMmJjMTJjNjI5IiwidCI6IjdjYjA1OGU2LWRiOGItNDIwZi04ZTI2LTgyYWY3ZWNlOWVjMiJ9" target="_blank">Dashoboard UD Log</a></li>
        </ul>
    </div>
</body>
</html>