<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição detalhada da falha</title>
    <link rel="stylesheet" href="/css/descricaoFalha.css">
</head>
<body>

    <div class="container">

        <div class="header">
            <h2>Descrição detalhada da falha</h2>
        </div>

        <textarea class="campo-texto" placeholder="Digite aqui a descrição com detalhes..."></textarea>

    </div>

</body>
</html>
