* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 30px;
    background: #fff;
}

.container {
    width: 95%;
    max-width: 1100px;
    border: 2px solid #000;
    padding-bottom: 30px;
}

.titulo {
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

.grid-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 10px 30px;
}

.box-foto {
    display: flex;
    flex-direction: column;
}

.label-foto {
    font-size: 14px;
    margin-bottom: 6px;
}

.area-imagem {
    width: 100%;
    height: 300px;
    border: 2px dashed #444;
    cursor: pointer;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-imagem img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    object-fit: contain;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .grid-fotos {
        grid-template-columns: 1fr;
    }
}
